@tailwind base;
@tailwind components;
@tailwind utilities;

.ytp-youtube-button.ytp-button,
.yt-uix-sessionlink {
  display: none !important;
}
/* chart menu icon css */
.apexcharts-toolbar {
  display: none !important;
}
g#SvgjsG1303 {
  display: none !important;
}

g#SvgjsG1322 {
  display: none !important;
}
g#SvgjsG1510 {
  display: none !important;
}

g#SvgjsG1480 {
  display: none !important;
}
g#SvgjsG1425 {
  display: none !important;
}

g#SvgjsG1406 {
  display: none !important;
}

text#SvgjsText1435 {
  display: none !important;
}
svg.text-default-300 {
  color: #5a5a5a;
}
circle#SvgjsCircle1157 {
  display: none !important;
}

g#SvgjsG1158 {
  display: none !important;
}

circle#SvgjsCircle1138 {
  display: none !important;
}

g#SvgjsG1139 {
  display: none !important;
}
/* rechart css */
g.recharts-layer.recharts-cartesian-axis-tick {
  font-size: 12px;
}
/* top-students css */
#top-students .css-fcajrz {
  height: auto;
}
/* delete svg css */
svg.bi.bi-trash3 {
  width: 15px;
  height: 15px;
}

.custom-sidebar.pro-sidebar .pro-sidebar-inner .pro-sidebar-layout {
  @apply sidebar-scrollbar;
}

.ql-editor {
  min-height: 100px;
  max-height: 400px;
  overflow: auto;
}
.ql-editor::-webkit-scrollbar {
  display: none;
}
.ql-editor {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ql-container.ql-snow {
  border: none !important;
}

.ql-toolbar.ql-snow {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.ql-editor {
  padding-bottom: 24px !important;
}

/* .ql-container {
  font-family: 'Barlow', 'Arges', sans-serif !important;
} */

.multi-steps > li.is-active ~ li:before,
.multi-steps > li.is-active:before {
  content: counter(stepNum);
  font-family: inherit;
  font-weight: 700;
}
.multi-steps > li.is-active ~ li:after,
.multi-steps > li.is-active:after {
  background-color: #ededed;
}

.multi-steps {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.multi-steps > li {
  counter-increment: stepNum;
  text-align: center;
  display: table-cell;
  position: relative;
  color: #0070f0;
}
.multi-steps > li:before {
  content: "";
  content: "✓;";
  content: "𐀃";
  content: "𐀄";
  content: "✓";
  display: block;
  margin: 0 auto 4px;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: #0070f0;
  border-radius: 50%;
}
.multi-steps > li:after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #0070f0;
  position: absolute;
  top: 16px;
  left: 50%;
  z-index: -1;
}
.multi-steps > li:last-child:after {
  display: none;
}
.multi-steps > li.is-active:before {
  background-color: #fff;
  border-color: #0070f0;
}
.multi-steps > li.is-active ~ li {
  color: #808080;
}
.multi-steps > li.is-active ~ li:before {
  background-color: #ededed;
  border-color: #ededed;
}

.unreset body {
  @apply m-4 h-auto;
}

.unreset ul,
.unreset ol {
  @apply list-disc pl-4 mb-4;
}

.unreset ol {
  list-style-type: decimal;
}

.unreset ul > li {
  @apply list-disc pl-4 mb-1; /* Adjust margin for nested lists */
}

.unreset ol > li {
  @apply list-decimal pl-4 mb-1; /* Adjust margin for nested lists */
}

.unreset h1 {
  @apply text-3xl font-bold mb-2;
}

.unreset h2 {
  @apply text-2xl font-bold mb-2.5;
}

.unreset h3 {
  @apply text-xl font-bold mb-3;
}

.unreset h4 {
  @apply text-lg font-bold mb-4;
}

.unreset h5 {
  @apply text-base font-bold mb-5;
}

.unreset h6 {
  @apply text-sm font-bold mb-6;
}
