@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Playfair+Display:wght@400;500;600;700;800&display=swap");

iframe#widget2 {
  border-radius: 12px;
}
.clip-path-custom {
  clip-path: polygon(0 0, 51% 39%, 100% 0, 100% 100%, 0% 100%);
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: unset !important;
  margin-top: 35px;
}
.swiper-pagination-bullet {
  background: #065fd4 !important;
}

span.text-sm.review svg {
  width: 25px;
  height: 25px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #c713cb;
}
.swiper-button-prev:hover {
  background-color: #c713cb;
}
.swiper-button-prev:hover::after {
  color: white;
}
.swiper-button-next:hover {
  background-color: #c713cb;
}
.swiper-button-next:hover:after {
  color: white;
}

.swiper-button-prev,
.swiper-button-next::after {
  font-size: 25px !important;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 25px !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px !important;
  height: 50px !important;
  border: 1px solid #c813cb62 !important;
  border-radius: 100%;
  background-color: #c813cb62;
}
.swiper-button-prev::after {
  color: white !important;
}
.swiper-button-next::after {
  color: white !important;
}
.navbar > header {
  max-width: 100% !important;
}

.circle-progress
  span.absolute.inset-0.flex.items-center.justify-center.text-xl.font-semibold {
  top: -10px;
}

.swiper-backface-hidden .swiper-slide {
  transform: unset !important;
}

@media (min-width: 1024px) {
  #course .swiper-slide {
    width: 297px !important;
    margin-right: 30px;
  }
  .resources .swiper-slide {
    width: 297px !important;
    margin-right: 30px;
  }
  #hm-course .swiper {
    height: 450px;
  }
}

@media (max-width: 1024px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
  #course .swiper-slide {
    width: 297px !important;
    margin-right: 30px;
  }
  .resources .swiper-slide {
    width: 297px !important;
    margin-right: 30px;
  }
  #hm-course .swiper {
    height: 530px;
  }
}

@media (max-width: 1279px) {
  #course .swiper-slide {
    width: 311px !important;
  }
}

@media (max-width: 768px) {
  .clip-path-custom {
    clip-path: polygon(0 0, 51% 17%, 100% 0, 100% 100%, 0% 100%);
  }
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    margin-top: 25px;
  }
  span.text-sm.review svg {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 640px) {
  #course .swiper-backface-hidden .swiper-slide {
    width: 325px !important;
  }
  #hm-course #course .swiper-slide {
    width: 335px !important;
  }
}
.loader {
  border: 4px solid #C712CA; /* Set border color */
  border-top: 4px solid #fff; /* Set top border color */
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
